<div class="space-list-container">
  @for (space of spaces; track space) {
    <mat-card class="space-card" (click)="goToSpaceDetails(space.id)">
      <mat-card-header>
        <mat-card-title>{{ space.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="space.thumbnail" alt="{{ space.name }}">
      <mat-card-content>
        <div class="rating">
          @for (i of [].constructor(5); track i; let i = $index) {
            <span class="star">
              @if (i < space.rating) {
                <mat-icon>star</mat-icon>
              }
              @if (i >= space.rating) {
                <mat-icon>star_border</mat-icon>
              }
            </span>
          }
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="toggleFavorite(space)">
          @if (space.favorite) {
            <mat-icon>favorite</mat-icon>
          }
          @if (!space.favorite) {
            <mat-icon>favorite_border</mat-icon>
          }
        </button>
      </mat-card-actions>
    </mat-card>
  }
</div>