<div class="space-list-container">
    <mat-card class="space-card" *ngFor="let space of spaces" (click)="goToSpaceDetails(space.id)">
      <mat-card-header>
        <mat-card-title>{{ space.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="space.thumbnail" alt="{{ space.name }}">
      <mat-card-content>
        <div class="rating">
          <span class="star" *ngFor="let i of [].constructor(5); let i = index">
            <mat-icon *ngIf="i < space.rating">star</mat-icon>
            <mat-icon *ngIf="i >= space.rating">star_border</mat-icon>
          </span>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="toggleFavorite(space)">
          <mat-icon *ngIf="space.favorite">favorite</mat-icon>
          <mat-icon *ngIf="!space.favorite">favorite_border</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>