<div class="container mt-4">
    <div class="card p-4 shadow-sm">
        <h3 class="mb-4">User Details</h3>
        <form [formGroup]="form">
            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">
                </div>
                <div class="col-md-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" id="username" formControlName="username">
                </div>
                <div class="col-md-4">
                    <label for="userType" class="form-label">User Type</label>
                    <select class="form-select" id="userType" formControlName="userType">
                        @for (usertype of userTypes; track usertype) {
                        <option [value]="usertype">{{ usertype.replace("_", " ") | titlecase }}</option>
                        }
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="gender" class="form-label">Gender</label>
                    <select class="form-select" id="gender" formControlName="gender">
                        @for (gender of genders; track gender) {
                        <option [value]="gender">{{ gender | titlecase }}</option>
                        }
                    </select>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <button type="button" class="btn btn-secondary me-2" (click)="cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" (click)="saveUser()">Save</button>
            </div>
        </form>
    </div>
</div>